*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
docs
fscc.Rproj
libs
output
renv/library
src/sandbox
data/sensitive_metadata
data
output

